In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df_haiti = pd.read_csv('haiti_cholera_per_month.csv')
df_haiti

         Month  Monthly deaths  Monthly cases
0    31-Oct-10             557          20905
1    30-Nov-10            1590          69688
2    31-Dec-10            1954          94617
3    31-Jan-11             573          54710
4    28-Feb-11             186          28372
5    31-Mar-11             138          24993
6    30-Apr-11             161          18835
7    31-May-11             193          29785
8    30-Jun-11             546          56352
9    31-Jul-11             361          39207
10   31-Aug-11             202          24924
11   30-Sep-11             195          23253
12   31-Oct-11             205          28135
13   30-Nov-11             120          17023
14   31-Dec-11              47           6250
15   31-Jan-12               9           4367
16   29-Feb-12              18           3186
17   31-Mar-12              34           3279
18   30-Apr-12              52           6026
19   31-May-12             112          14338
20   30-Jun-12             110           9942
21   31-Jul-12              61           6673
22   31-Aug-12              64           6001
23   30-Sep-12              75           7621
24   31-Oct-12             100          11830
25   30-Nov-12             131          15238
26   31-Dec-12             142          12853
27   31-Jan-13              86           7257
28   28-Feb-13              14           4332
29   31-Mar-13              24           3433
..         ...             ...            ...
36   31-Oct-13              99           7162
37   30-Nov-13              81           6962
38   31-Dec-13              62           2593
39   31-Jan-14              14           1629
40   28-Feb-14               4           1259
41   31-Mar-14              10            889
42   30-Apr-14               4            866
43   31-May-14               3            902
44   30-Jun-14              14           1017
45   31-Jul-14               7           1148
46   31-Aug-14              13           1025
47   30-Sep-14              28           1839
48   31-Oct-14              52           4577
49   30-Nov-14              95           6765
50   31-Dec-14              53           5392
51   31-Jan-15              36           4321
52   28-fev-15              46           4055
53  31-mars-15              22           3041
54   30-avr-15              19           3098
55   31-May-15              13           1702
56   30-Jun-15              13           1732
57   31-Jul-15              21           2000
58   30-Aug-15              22           1744
59   30-Sep-15              18           2082
60   30-Oct-15              24           2608
61   30-Nov-15              63           4944
62   30-Dec-15              26           5436
63   30-Jan-16              60           5335
64   29-Feb-16              35           3264
65   30-Mar-16              34           3101

[66 rows x 3 columns]

In [4]:
from bs4 import BeautifulSoup
import requests

In [20]:
response = requests.get('https://query.nytimes.com/search/sitesearch/?action=click&contentCollection&region=TopBar&WT.nav=searchWidget&module=SearchSubmit&pgtype=Homepage#/Haiti+cholera/from20090101to20161231/allresults/1/allauthors/oldest/')
doc = BeautifulSoup(response.text, 'html.parser')

In [28]:
links = doc.find_all('a')

for link in links[:10]:
    print("This is a link")
    print(link.text)

This is a link

This is a link

This is a link
Search
This is a link
Most Popular Searches
This is a link
Clear All Filters
This is a link
All Since 1851
This is a link
Past 24 Hours
This is a link
Past 7 Days
This is a link
Past 30 Days
This is a link
Past 12 Months

In [32]:
story = doc.find_all('div', { 'id': 'page' })
story
#for story in story[:10]:
#    print("This is a story")
#    print(story.text)

[<div class="tabContent active" id="page">
 <div class="clearfix" id="masthead">
 <div id="branding">
 <a href="https://www.nytimes.com"><img alt="New York Times" id="NYTLogo" src="https://graphics8.nytimes.com/images/misc/nytlogo152x23.gif"/></a>
 </div>
 <h2> <a href="/">Search</a> </h2>
 <div class="mostPopularSearches" id="mostPopularSearches">
 <div class="tabDropDown">
 <div class="tabDropDownHeader">
 <div class="inset">
 <h5 class="tabDropDownHeading"><a class="toggleControl">Most Popular Searches</a></h5>
 </div>
 </div><!-- close tabDropDownHeader -->
 <div class="tabDropDownContent">
 <div class="subColumns noBackground">
 <div class="column firstColumn">
 <div class="inset">
 <ol class="flush"></ol>
 </div><!-- close inset -->
 </div><!-- close column -->
 <div class="column lastColumn">
 <div class="inset">
 <ol class="flush" start="6"></ol>
 </div><!-- close .inset -->
 </div><!-- close .column -->
 </div><!-- close .subColumns -->
 </div><!-- close .tabDropDownContent -->
 </div><!-- close .tabDropDown -->
 </div><!-- close .mostPopularSearches -->
 </div> <!-- close #masthead -->
 <div class="searchHeader" id="searchHeader">
 <div class="insetPadded opposingFloatControl wrap">
 <div class="searchInputForm inlineSearchControl element1" id="inlineSearchControl">
 <form>
 <div class="control horizontalControl lastControl">
 <div class="labelContainer">
 <label for="newSearchQueryTop">Your Search</label>
 </div>
 <div class="fieldContainer containingBlock" id="yourSearch">
 <input autocomplete="off" class="newSearchQuery autoSuggestQuery" id="newSearchQueryTop" type="text" value=""/>
 <ol class="autoSuggestQueryResults"></ol>
 <button class="button" type="submit">Go</button>
 </div>
 </div>
 </form>
 </div><!-- .inlineSearchControl -->
 <ul class="breadCrumbFilterList element1"></ul>
 <div class="resetFilters element2">
 <a class="searchFilter" data-refineby="resetFilters">Clear All Filters</a>
 </div>
 </div><!-- .inset -->
 </div><!-- .searchHeader -->
 <div id="main">
 <div class="spanAB wrap">
 <div class="search ">
 <div class="abColumn"><!-- open abColumn -->
 <div class="aColumn"><!-- open aColumn -->
 <!--cur: prev:-->
 <div class="columnGroup first">
 <div class="columnGroup firstColumn dateFilters">
 <h2 class="sectionHeader">Date Range</h2>
 <ul class="filterList flush">
 <li class="firstItem">
 <a class="searchFilter" data-refineby="since1851">All Since 1851</a>
 </li>
 <li>
 <a class="searchFilter" data-refineby="24hoursago">Past 24 Hours</a>
 </li>
 <li>
 <a class="searchFilter" data-refineby="7daysago">Past 7 Days</a>
 </li>
 <li>
 <a class="searchFilter" data-refineby="30daysago">Past 30 Days</a>
 </li>
 <li>
 <a class="searchFilter" data-refineby="365daysago">Past 12 Months</a>
 </li>
 <li>
 <a class="toggleControl flushToggleControl navToggleControl" data-refineby="customDateRange">Specific Dates</a>
 <div class="navTabDropDown customDateFilter">
 <form>
 <div>
 <span class="dateLabel">From:</span>
 <input class="month" id="fromMonth" maxlength="2" name="fromMonth" type="text" value="MM"> /
                                 <input class="day" id="fromDay" maxlength="2" name="fromDay" type="text" value="DD"/> /
                                 <input class="year" id="fromYear" maxlength="4" name="fromYear" type="text" value="YYYY"/>
 </input></div>
 <div>
 <span class="dateLabel">To:</span>
 <input class="month" id="toMonth" maxlength="2" name="toMonth" type="text" value="MM"/> /
                                 <input class="day" id="toDay" maxlength="2" name="toDay" type="text" value="DD"/> /
                                 <input class="year" id="toYear" maxlength="4" name="toYear" type="text" value="YYYY"/>
 </div>
 <div class="customFilterFooter">
 <a class="applyCustomFilter">Refine Search</a>
 </div>
 </form>
 </div>
 </li>
 </ul>
 </div><!-- .dateFilters -->
 <div class="columnGroup pubTypeFilters">
 <h2 class="sectionHeader">Result Type</h2>
 <ul class="filterList flush">
 </ul>
 </div><!-- .pubTypeFilters -->
 <div class="columnGroup bylineFilters">
 <h2 class="sectionHeader">Author</h2>
 <ul class="filterList flush">
 <li class="firstItem">
 <a class="searchFilter" data-refineby="all">All Authors</a>
 </li>
 <li>
 <a class="navToggleControl">Specific Author</a>
 <div class="navTabDropDown customBylineFilter">
 <form>
 <input class="autoSuggestQuery" type="text"/>
 <ol class="autoSuggestQueryResults"></ol>
 <div class="customFilterFooter">
 <a class="applyCustomFilter">Refine Search</a>
 </div>
 </form>
 </div>
 </li>
 </ul>
 </div>
 <div class="columnGroup sectionFilters">
 <h2 class="sectionHeader">Section</h2>
 <ul class="filterList flush"></ul>
 <div class="toggleContainer navViewToggleContainer"></div>
 </div>
 </div>
 </div><!-- close aColumn -->
 <div class="bColumn"><!-- open bColumn -->
 <div class="columnGroup first">
 <div class="sortContainer opposingFloatControl wrap">
 <div class="sortResults element1" id="sortResults">
 <h3 class="horizontalMenuLabel">Sort by:</h3>
 <ul class="horizontalMenu piped">
 <li><a data-sortby="d">Newest</a></li>
 <li><a data-sortby="a">Oldest</a></li>
 <li><a class="selectedSort" data-sortby="r">Relevance</a></li>
 </ul>
 </div>
 <div class="totalResultsCount element2" id="totalResultsCount">
 <p></p>
 </div>
 </div>
 <div class="searchResults" id="searchResults">
 <ol class="searchResultsList flush">
 </ol>
 </div>
 <div class="relatedSearchesModule wrap">
 </div>
 <div class="googleFooter wrap">
 <div></div>
 </div>
 <div class="feedBackFooter"><a href="mailto:search_feedback@nytimes.com?subject=NYTimes%20Search%20Feedback">Search Feedback</a></div>
 <div class="searchPagination wrap" id="searchPagination">
 </div>
 </div>
 </div><!-- close bColumn --> </div><!-- close abColumn -->
 <div class="cColumn">
 <!--cur: prev:-->
 </div> </div>
 </div>
 </div><!-- close wideA -->
 </div>]