In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
cabinet_df = pd.read_csv('Presidential Cabinet - TOTAL.csv')
cabinet_df.head()

,Department,Name,Status,State,Start,End
0,State,John Jay,Acting,New York,"September 26, 1789","March 22, 1790"
1,State,Thomas Jefferson,sworn in,Virginia,"March 22, 1790","December 31, 1793"
2,State,Edmund J. Randolph,sworn in,Virginia,"January 2, 1794","August 20, 1795"
3,State,Timothy Pickering,sworn in,Massachusetts,"August 20, 1795","May 12, 1800"
4,State,Charles Lee,Acting,Virginia,"May 13, 1800","June 5, 1800"

In [11]:
len(cabinet_df['State'].value_counts())

53

In [16]:
cabinet_df['State'].value_counts()

New York                 64
Pennsylvania             44
California               38
Massachusetts            38
Illinois                 32
Virginia                 31
Ohio                     28
Texas                    23
Maryland                 19
District of Columbia     15
Michigan                 13
Georgia                  13
Indiana                  12
Kentucky                 12
New Jersey               12
Colorado                 11
Missouri                 11
Minnesota                 9
Iowa                      9
Florida                   8
Wisconsin                 8
Connecticut               8
Nebraska                  8
South Carolina            7
Delaware                  6
Kansas                    6
Maine                     6
Tennessee                 6
Washington                6
Washington, D.C.          5
West Virginia             5
Arizona                   5
Rhode Island              4
Mississippi               4
North Carolina            4
New Mexico                4
Alabama                   4
Oregon                    3
Arkansas                  3
Louisiana                 3
Utah                      3
unknown                   2
Idaho                     2
Wyoming                   2
Vermont                   2
North Dakota              2
New Hampshire             2
District of Columbia      1
Netherlands               1
Hawaii                    1
Alaska                    1
Oklahoma                  1
Montana                   1
Name: State, dtype: int64